

@media (min-width:768px) and (max-width:960px){
    * {
            box-sizing: border-box;
        }
    html {
            background: rgb(202, 202, 202);
            background: linear-gradient(90deg, rgba(202, 202, 202, 1) 14%, rgba(254, 254, 254, 1) 88%, rgba(251, 251, 251, 1) 100%, rgba(251, 251, 251, 1) 100%);
        }
    
        body {
            border-top: 2px solid black;
            border-top-left-radius: 10px;
            padding-top: 18px;
            padding-left: 18px;
            margin-top: 10px;
            margin-left: 0;
            margin-right: -20px;
            width: 100vw;
            height: 98vh;
            background-color: #fff;
        }
    
        main {
            width: 99vw;
            height: 96vh;
            padding: 2%;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(6, 1fr);
            background-color: #fff;
        }
    
        .caja1 {
            padding-left: 20px;
            grid-column: 1;
            grid-row: 1 / span 4;
            border: 2px solid rgb(79, 180, 200);
            background-color: rgb(151, 209, 190);
            border-radius: 6px;
        }
    
        .caja2 {
            grid-column: 2 / span 3;
            grid-row: 1 / span 4;
        }
    
        .caja3 {
            grid-column: 1;
            grid-row: 5 / span 2;
            border-right: 3px solid gray;
        }
    
        .caja4 {
            padding-left: 20px;
            grid-column: 2 / span 3;
            grid-row: 5 / span 2;
            border: 2px solid rgb(79, 180, 200);
            background-color: rgb(151, 209, 190);
            border-radius: 6px;
        }
    
        h1 {
            font-size: 25px;
        }
    
        p {
            font-size: 16px;
        }
}

@media (min-width: 960px){
        * {
                box-sizing: border-box;
            }
        
            html {
                background: rgb(202, 202, 202);
                background: linear-gradient(90deg, rgba(202, 202, 202, 1) 14%, rgba(254, 254, 254, 1) 88%, rgba(251, 251, 251, 1) 100%, rgba(251, 251, 251, 1) 100%);
            }
        
            body {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-top-left-radius: 10px;
                width: 99vw;
                height: 98vh;
                background-color: #fff;
            }
        
            main {
                width: 91vw;
                height: 94vh;
                padding: 2%;
                padding-left: 6%;
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(6, 1fr);
                background-color: #fff;
            }
        
            .caja1 {
                padding-left: 20px;
                grid-column: 1 / span 6;
                grid-row: 1;
                border: 2px solid rgb(79, 180, 200);
                background-color: rgb(151, 209, 190);
                border-radius: 6px;
            }
        
            .caja2 {
                grid-column: 2 / span 5;
                    grid-row: 2 / span 5;
            }
        
            .caja3 {
                grid-column: 1;
                grid-row: 2 / span 5;
    
                border-right: 3px solid gray;
            }
        
            .caja4 {
                padding-left: 20px;
                grid-column: 1 / span 6;
                grid-row: 7;
                border: 2px solid rgb(79, 180, 200);
                background-color: rgb(151, 209, 190);
                border-radius: 6px;
            }
        
            h1 {
                font-size: 40px;
            }
        
            p {
                font-size: 24px;
            }
}

@media (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    html {
        background: rgb(202, 202, 202);
        background: linear-gradient(90deg, rgba(202, 202, 202, 1) 14%, rgba(254, 254, 254, 1) 88%, rgba(251, 251, 251, 1) 100%, rgba(251, 251, 251, 1) 100%);
    }

    body {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-top-left-radius: 10px;
        width: 99vw;
        height: 98vh;
        background-color: #fff;
    }

    main {
        width: 91vw;
        height: 94vh;
        padding: 2%;
        padding-left: 6%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: #fff;
    }

    .caja1 {
        padding-left: 20px;
        grid-column: 1 / span 6;
        grid-row: 1;
        border: 2px solid rgb(79, 180, 200);
        background-color: rgb(151, 209, 190);
        border-radius: 6px;
    }

    .caja2 {
        grid-column: 1 / span 6;
        grid-row: 2;
    }

    .caja3 {
        grid-column: 1 / span 6;
        grid-row: 3;
        border-right: 3px solid gray;
    }

    .caja4 {
        padding-left: 20px;
        grid-column: 1 / span 6;
        grid-row: 4;
        border: 2px solid rgb(79, 180, 200);
        background-color: rgb(151, 209, 190);
        border-radius: 6px;
    }

}