body {
    margin: 0;
    padding: 0;
}

main {
    flex-wrap: wrap;
    padding: 10%;
    display: grid;
    grid-template-columns: 45% 20% 20%;
    grid-template-rows: 30% 30% 30%;
}

.cuadro {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
    box-sizing: border-box;
    background-color: rgb(134, 213, 187);
    border: 2px solid rgb(20, 167, 212);
    border-radius: 4px;
}